/vendor/*
/config/app.php
/tmp/*
/logs/*
!/vendor/aura/
!/vendor/cakephp/
!/vendor/composer/
!/vendor/dnoegel/
!/vendor/ircmaxell/
!/vendor/bin/
!/vendor/jakub-onderka/
!/vendor/psy/
!/vendor/robmorgan/
!/vendor/mobiledetect/
!/vendor/nesbot/
!/vendor/psr/
!/vendor/symfony/
!/vendor/jdorn/
!/vendor/nikic/
!/vendor/empty
!/vendor/cakephp-plugins.php
!/vendor/autoload.php